* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-container {
  width: 100%;
  height: 100vh;
  background-image: url("images/head_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.header-section {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  height: 15vh;
  padding: 50px;
  position: fixed;
  z-index: 1000;
}

.left-side {
  display: flex;
  margin-left: 80px;
  align-self: center;
}

.left-side > h1 {
  color: white;
  font-size: 2em;
}

.right-side {
  display: flex;
  margin-right: 80px;
  align-self: center;
}

.right-side > a {
  color: white;
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.header-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  text-align: center;
  align-self: center;
}

.header-main > h1,
h3 {
  color: white;
  padding: 10px;
}

.header-main > h1 {
  margin-top: 60vh;
}

.about-container {
  padding: 150px;
  height: 100vh;
  margin-bottom: 100px;
}

.inside-about {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border: 3px solid black;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 0px 15px rgba(150, 8, 210, 0.5);
}

.about-inside-left > h1 {
  font-size: 2em;
  font-weight: bolder;
}

.about-inside-left > h3 {
  font-size: 1.2em;
  font-weight: normal;
}

.about-left {
  width: 45%;
}

.about-inside-left {
  width: 90%;
}

.about-right {
  width: 45%;
}

.about-right > h1 {
  margin-bottom: 30px;
}

.about-right > p {
  font-size: 1.7em;
}

.contact-container {
  padding: 150px;
  height: 100vh;
  margin-top: 0px;
}

.contact-inside {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(150, 8, 210, 0.5);
}

.contact-container > h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.address {
  display: flex;
}

.address > i {
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(150, 8, 210, 0.5);
  font-size: 2em;
  text-align: center;
  align-self: center;
}

.address > i:hover {
  background-color: black;
  color: white;
}

.address-inside {
  margin-left: 5px;
}

.address-inside > h1 {
  font-size: 1.5em;
  padding-left: 10px;
}
.address-inside > h3 {
  font-size: 1em;
}

.phone {
  display: flex;
}

.phone > i {
  padding: 15px;
  border: 2px solid black;
  border-radius: 9999px;
  box-shadow: 0px 0px 5px rgba(150, 8, 210, 0.5);
  font-size: 2em;
  text-align: center;
  align-self: center;
}
.phone > i:hover {
  background-color: black;
  color: white;
}

.phone-inside {
  margin-left: 5px;
}

.phone-inside > h1 {
  font-size: 1.5em;
  padding-left: 10px;
}
.phone-inside > h3 {
  font-size: 1em;
}
.email {
  display: flex;
}

.email > i {
  padding: 15px;
  border: 2px solid black;
  border-radius: 9999px;
  box-shadow: 0px 0px 5px rgba(150, 8, 210, 0.5);
  font-size: 2em;
  text-align: center;
  align-self: center;
}
.email > i:hover {
  background-color: black;
  color: white;
}

.email-inside {
  margin-left: 5px;
}

.email-inside > h1 {
  font-size: 1.5em;
  padding-left: 10px;
}
.email-inside > h3 {
  font-size: 1em;
}

.footer-container {
  background-color: black;
  text-align: center;
  padding: 50px;
}

.footer-first {
  padding: 15px;
}

.footer-first > a {
  text-decoration: none;
}

.footer-first > a > i {
  font-size: 2em;
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
  cursor: pointer;
}

.footer-first > a > i:hover {
  color: whitesmoke;
}

.footer-second {
  margin-top: 10px;
}

.footer-second > h1 {
  font-size: 2em;
}

#scrollToUp {
  font-size: 2em;
  position: fixed;
  bottom: 20px;
  right: 50px;
  background-color: transparent;
  color: blue;
  border: 1px solid transparent;
  transition-property: all;
  transition-duration: 0.5s;
}

#scrollToUp:hover {
  transition-property: all;
  transition-duration: 0.5s;
  font-size: 2.5em;
}

.portfolio-container {
  height: 100vh;
  margin-top: 10px;
}

.portfolio-inside {
  display: flex;
  justify-content: space-around;
  padding: 50px 150px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 15px;
}

.portfolio-container > h1 {
  text-align: center;
  margin-top: 10px;
}

/* Mobile-S 320px */
@media only screen and (max-width: 320px) {
  .header-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
  }

  .left-side {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
  }

  .left-side > h1 {
    font-size: 1.2em;
  }

  .right-side {
    margin-right: 0;
    justify-content: center;
    margin-top: 0;
  }

  .right-side > a {
    font-size: 0.7em;
  }

  .about-container {
    padding: 20px;
    margin-bottom: 0px;
    height: 85vh;
  }

  .inside-about {
    padding: 15px 5px;
    height: 60vh;
    margin-top: 20vh;
  }

  .about-right {
    height: 250px;
  }

  .about-right > h1 {
    margin-bottom: 10px;
    font-size: 0.8em;
    font-weight: bolder;
  }

  .about-right > p {
    font-size: 0.5em;
  }

  .card-body > h4 {
    font-size: 0.8em !important;
  }

  .card-body > h4 > span {
    font-size: 0.8em !important;
  }
  .about-inside-left {
    margin-left: 135px;
    margin-top: -205px;
    font-weight: bolder;
    padding: 0px;
  }

  .about-inside-left > h3 {
    font-size: 0.6em;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: 0px;
  }

  .about-inside-left > h1 {
    font-size: 0.8em;
    font-weight: bold;
  }

  .portfolio-container {
    height: 100vh;
    margin-top: 0px;
    padding-top: 100px;
  }

  .portfolio-inside {
    padding: 10px;
    margin-top: 5vh;
  }

  .portfolio-container > h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0px;
  }

  .contact-container {
    padding: 150px 20px;
    padding-top: 150px;
    padding-bottom: 50px;
    height: 80vh;
    margin-top: 250vh;
  }

  .contact-container > h1 {
    margin-top: 40px;
  }

  .contact-inside {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
  }

  .address {
    margin-left: 40px;
  }

  .address-inside {
    margin-left: 0px;
  }

  .address-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .address-inside > h3 {
    font-size: 0.8em;
  }

  .phone {
    margin-left: 40px;
  }

  .phone-inside {
    margin-left: 0px;
  }

  .phone-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .phone-inside > h3 {
    font-size: 0.8em;
  }

  .email {
    margin-left: 40px;
  }

  .email-inside {
    margin-left: 0px;
  }

  .email-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .email-inside > h3 {
    font-size: 0.7em;
  }

  .footer-container {
    margin-top: 35vh;
    height: 40vh;
  }

  #scrollToUp {
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }
}

/* Mobile-M 375px */
@media only screen and (max-width: 376px) and (min-width: 321px) {
  .header-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
  }

  .left-side {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
  }

  .left-side > h1 {
    font-size: 1.2em;
  }

  .right-side {
    margin-right: 0;
    justify-content: center;
    margin-top: 0;
  }

  .right-side > a {
    font-size: 0.7em;
  }

  .about-container {
    padding: 20px;
    margin-bottom: 0px;
    height: 85vh;
  }

  .inside-about {
    padding: 15px 5px;
    height: 65vh;
    margin-top: 20vh;
  }

  .about-right {
    height: 250px;
  }

  .about-right > h1 {
    margin-bottom: 10px;
    font-size: 0.8em;
    font-weight: bolder;
  }

  .about-right > p {
    font-size: 0.6em;
  }

  .card-body > h4 {
    font-size: 0.8em !important;
  }

  .card-body > h4 > span {
    font-size: 0.8em !important;
  }

  .about-inside-left {
    margin-left: 160px;
    margin-top: -205px;
    font-weight: bolder;
    padding: 0px;
  }

  .about-inside-left > h3 {
    font-size: 0.6em;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: 0px;
  }

  .about-inside-left > h1 {
    font-size: 0.8em;
    font-weight: bold;
  }

  .portfolio-container {
    height: 100vh;
    margin-top: 0px;
    padding-top: 100px;
  }

  .portfolio-inside {
    padding: 10px;
    margin-top: 5vh;
  }

  .portfolio-container > h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0px;
  }

  .contact-container {
    padding: 150px 20px;
    padding-top: 150px;
    padding-bottom: 50px;
    height: 80vh;
    margin-top: 250vh;
  }

  .contact-container > h1 {
    margin-top: 40px;
  }

  .contact-inside {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
  }

  .address {
    margin-left: 40px;
  }

  .address-inside {
    margin-left: 0px;
  }

  .address-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .address-inside > h3 {
    font-size: 0.8em;
  }

  .phone {
    margin-left: 40px;
  }

  .phone-inside {
    margin-left: 0px;
  }

  .phone-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .phone-inside > h3 {
    font-size: 0.8em;
  }

  .email {
    margin-left: 40px;
  }

  .email-inside {
    margin-left: 0px;
  }

  .email-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .email-inside > h3 {
    font-size: 0.7em;
  }

  .footer-container {
    margin-top: 35vh;
    height: 40vh;
  }

  #scrollToUp {
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }
}

/* Mobile-L 425px */
@media only screen and (max-width: 426px) and (min-width: 377px) {
  .header-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
  }

  .left-side {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
  }

  .left-side > h1 {
    font-size: 1.2em;
  }

  .right-side {
    margin-right: 0;
    justify-content: center;
    margin-top: 0;
  }

  .right-side > a {
    font-size: 0.7em;
  }

  .about-container {
    padding: 20px;
    margin-bottom: 0px;
    height: 85vh;
  }

  .inside-about {
    padding: 15px 5px;
    height: 65vh;
    margin-top: 20vh;
  }

  .about-right {
    height: 250px;
  }

  .about-right > h1 {
    margin-bottom: 10px;
    font-size: 0.8em;
    font-weight: bolder;
  }

  .about-right > p {
    font-size: 0.7em;
  }

  .card-body > h4 {
    font-size: 0.8em !important;
  }

  .card-body > h4 > span {
    font-size: 0.8em !important;
  }

  .about-inside-left {
    margin-left: 185px;
    margin-top: -190px;
    font-weight: bolder;
    padding: 0px;
  }

  .about-inside-left > h3 {
    font-size: 0.6em;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: 0px;
  }

  .about-inside-left > h1 {
    font-size: 0.8em;
    font-weight: bold;
  }

  .portfolio-container {
    height: 100vh;
    margin-top: 0px;
    padding-top: 100px;
  }

  .portfolio-inside {
    padding: 10px;
    margin-top: 5vh;
  }

  .portfolio-container > h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0px;
  }

  .contact-container {
    padding: 150px 20px;
    padding-top: 150px;
    padding-bottom: 50px;
    height: 80vh;
    margin-top: 280vh;
  }

  .contact-container > h1 {
    margin-top: 40px;
  }

  .contact-inside {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
  }

  .address {
    margin-left: 40px;
  }

  .address-inside {
    margin-left: 0px;
  }

  .address-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .address-inside > h3 {
    font-size: 0.8em;
  }

  .phone {
    margin-left: 40px;
  }

  .phone-inside {
    margin-left: 0px;
  }

  .phone-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .phone-inside > h3 {
    font-size: 0.8em;
  }

  .email {
    margin-left: 40px;
  }

  .email-inside {
    margin-left: 0px;
  }

  .email-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .email-inside > h3 {
    font-size: 0.7em;
  }

  .footer-container {
    margin-top: 35vh;
    height: 40vh;
  }

  #scrollToUp {
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }
}

/* Tablet 768px */
@media only screen and (max-width: 769px) and (min-width: 427px) {
  .header-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
  }

  .left-side {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
  }

  .left-side > h1 {
    font-size: 1.2em;
  }

  .right-side {
    margin-right: 0;
    justify-content: center;
    margin-top: 0;
  }

  .right-side > a {
    font-size: 0.7em;
  }

  .about-container {
    padding: 150px;
    height: 100vh;
    margin-bottom: 100px;
  }

  .inside-about {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(150, 8, 210, 0.5);
  }

  .about-inside-left > h1 {
    font-size: 2em;
    font-weight: bolder;
  }

  .about-inside-left > h3 {
    font-size: 1.2em;
    font-weight: normal;
  }

  .about-left {
    width: 45%;
  }

  .about-inside-left {
    width: 90%;
  }

  .about-right {
    width: 45%;
  }

  .about-right > h1 {
    margin-bottom: 30px;
  }

  .about-right > p {
    font-size: 1.7em;
  }

  .about-right {
    height: 250px;
  }

  .about-right > h1 {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bolder;
  }

  .about-right > p {
    font-size: 0.9em;
  }

  .card-body > h4 {
    font-size: 0.8em !important;
  }

  .card-body > h4 > span {
    font-size: 0.8em !important;
  }

  .about-inside-left > h3 {
    font-size: 0.6em;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: 0px;
  }

  .about-inside-left > h1 {
    font-size: 0.8em;
    font-weight: bold;
  }

  .portfolio-container {
    height: 100vh;
    margin-top: 0px;
    padding-top: 100px;
  }

  .portfolio-inside {
    padding: 10px;
    margin-top: 5vh;
  }

  .portfolio-container > h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0px;
  }

  .contact-container {
    padding: 150px 20px;
    padding-top: 150px;
    padding-bottom: 50px;
    height: 80vh;
    margin-top: 100vh;
  }

  .contact-container > h1 {
    margin-top: 40px;
  }

  .contact-inside {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
  }

  .address {
    margin-left: 40px;
  }

  .address-inside {
    margin-left: 0px;
  }

  .address-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .address-inside > h3 {
    font-size: 0.8em;
  }

  .phone {
    margin-left: 40px;
  }

  .phone-inside {
    margin-left: 0px;
  }

  .phone-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .phone-inside > h3 {
    font-size: 0.8em;
  }

  .email {
    margin-left: 40px;
  }

  .email-inside {
    margin-left: 0px;
  }

  .email-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .email-inside > h3 {
    font-size: 0.7em;
  }

  .footer-container {
    margin-top: 35vh;
    height: 40vh;
  }

  #scrollToUp {
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }
}

/* Laptop 1024px */
@media only screen and (max-width: 1025px) and (min-width: 770px) {
  .header-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
  }

  .left-side {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
  }

  .left-side > h1 {
    font-size: 1.5em;
  }

  .right-side {
    margin-right: 0;
    justify-content: center;
    margin-top: 0;
  }

  .right-side > a {
    font-size: 1em;
  }

  .about-container {
    padding: 150px;
    padding-bottom: 0px;
    height: 100vh;
    margin-bottom: 0px;
  }

  .inside-about {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(150, 8, 210, 0.5);
  }

  .about-inside-left > h1 {
    font-size: 2em;
    font-weight: bolder;
  }

  .about-inside-left > h3 {
    font-size: 1.2em;
    font-weight: normal;
  }

  .about-left {
    width: 45%;
  }

  .about-inside-left {
    width: 90%;
  }

  .about-right {
    width: 45%;
  }

  .about-right > h1 {
    margin-bottom: 30px;
  }

  .about-right > p {
    font-size: 1.7em;
  }

  .about-right {
    height: 250px;
  }

  .about-right > h1 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bolder;
  }

  .about-right > p {
    font-size: 1.1em;
  }

  .card-body > h4 {
    font-size: 1em !important;
  }

  .card-body > h4 > span {
    font-size: 1em !important;
  }

  .about-inside-left > h3 {
    font-size: 0.9em;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: 0px;
  }

  .about-inside-left > h1 {
    font-size: 1.1em;
    font-weight: bold;
  }

  .portfolio-container {
    height: 100vh;
    margin-top: 0px;
    padding-top: 10px;
  }

  .portfolio-inside {
    padding: 10px;
    margin-top: 5vh;
  }

  .portfolio-container > h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0px;
  }

  .contact-container {
    padding: 150px 20px;
    padding-top: 150px;
    padding-bottom: 50px;
    height: 80vh;
    margin-top: 50vh;
  }

  .contact-container > h1 {
    margin-top: 40px;
  }

  .contact-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0px;
    padding-right: 50px;
  }

  .address {
    margin-left: 20px;
  }

  .address-inside {
    margin-left: 0px;
  }

  .address-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .address-inside > h3 {
    font-size: 0.8em;
  }

  .phone {
    margin-left: 40px;
  }

  .phone-inside {
    margin-left: 0px;
  }

  .phone-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .phone-inside > h3 {
    font-size: 0.8em;
  }

  .email {
    margin-left: 40px;
  }

  .email-inside {
    margin-left: 0px;
  }

  .email-inside > h1 {
    font-size: 1.2em;
    padding-left: 10px;
  }
  .email-inside > h3 {
    font-size: 0.7em;
  }

  .footer-container {
    margin-top: 0;
    height: 20vh;
  }

  #scrollToUp {
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }
}

/* Laptop-L 1440px */
@media only screen and (max-width: 1441px) and (min-width: 1026px) {
  .about-container {
    padding-top: 80px;
    margin-bottom: 0px;
    height: 100vh;
  }

  .inside-about {
    margin-top: 20vh;
  }

  .portfolio-container {
    padding: 15px 5px;
  }

  .portfolio-container > h1 {
    margin-top: 170px;
  }

  .contact-container {
    margin-top: 30vh;
  }

  .contact-container > h1 {
    margin-top: 120px;
  }
}

/* 4K 2560px */
@media only screen and (max-width: 2561px) and (min-width: 1442px) {
  .about-container {
    padding-top: 80px;
    margin-bottom: 0px;
    height: 80vh;
  }

  .inside-about {
    margin-top: 20vh;
  }

  .portfolio-container {
    padding: 15px 5px;
  }

  .portfolio-container > h1 {
    margin-top: 19vh;
  }

  .contact-container {
    margin-top: 30vh;
    padding-bottom: 0px;
    height: 80vh;
  }

  .contact-container > h1 {
    margin-top: 10vh;
  }

  .footer-container {
    margin-top: 0px;
  }
}
